@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  user-select: none;
}
.active{
  background-color: #010101;  
  transition: all 0.1s smooth;

}

.backgroundimg{
background-image: url('assets/images/banner.jpg');

}

.shadow-inset {
  box-shadow: inset 0 0 100px 60.5px rgba(20, 20, 20, 0.5);
}

.carousel{
  @apply text-white w-[90%] flex flex-grow-0 flex-shrink-0 overflow-x-scroll -translate-x-[00%]
}

.carousel::-webkit-scrollbar{
  overflow: hidden;
}
/* sm:w-32 md:w-36 lg:w-40 xl:w-44 2xl:w-52 */
.carousel_1 img {
  @apply  w-28  p-1 aspect-square sm:w-32 md:w-36 lg:w-40 xl:w-44 2xl:w-52 
}
@tailwind utilities;