@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #141414;
    user-select: none;
}

.container {
    width: 100%;
    height: 100vh;
}

.navBar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 3.8rem;
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e5e7e8;
}

.leftSection {
    display: flex;
}

.homeImage {
    width: 92px;
    height: 25px;
    cursor: pointer;
}

.homeImage img {
    width: 100%;
    height: 100%;
}

.menuSecton {
    margin-left: 25px;
    padding-left: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.menuSecton a:hover{
    color: #c5cbcc;
    transition: 0.5s ;
}

.browse {
    display: none;
}

.menuSecton a {
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    line-height: 16.8px;
    text-align: center;
    cursor: pointer;
}

.rightSection {
    gap: 19px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.rightSection div {
    cursor: pointer;
}

.image1{
    transform: rotate(-11deg)
}

.children {
    font-size: 14px;
    font-weight: 600;
}

.profileImage {
    border-radius: 3px;
    flex-direction: column;
    text-align: center;
}

.profileRightImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive Navigation */

/* Laptop Screen 1025 */
@media (max-width: 1025px) {
    .navBar {
        width: 100%;
        height: 3.8rem;
        padding: 23px 37.66px;
    }

    .menuSecton {
        margin-left: 0;
    }

    .menuSecton a {
        font-size: 9.6px;
    }

    .homeImage {
        width: 63px;
        height: 20px;
    }

    .children {
        display: none;
    }
}

/* Tablet Screen 768 */
@media (max-width: 768px) {
    .navBar {
        width: 100%;
        height: 2.3rem;
        padding: 0px 30.07px;
    }

    .menuSecton {
        margin-left: 0;
    }

    .menuSecton a {
        display: none;
    }

    .browse {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 10px;
        cursor: pointer;
    }

    .browse::after {
        content: url('./assets/svgs_collection/dropD.svg');
        height: 20px;
        width: 20px;
    }

    .homeImage {
        margin: auto;
        width: 73px;
        height: 23px;
    }

    .children {
        display: none;
    }

    .dropDown {
        display: none;
    }
}

/* mobile screen  */
@media (max-width: 426px) {
    .navBar {
        width: 100%;
        height: 2.2rem;
        padding: 0px 17.66px;
    }
    .homeImage {
        margin: auto;
        width: 51px;
        height: 16px;
    }

    .menuSecton a {
        display: none;
    }

    .menuSecton {
        margin-left: 0;
        padding-left: 0;
    }

    .browse {
        width: 59px;
        height: 9px;
        font-size: 7.66px;
        padding-left: 15px;
    }

    .browse::after {
        content: url('./assets/svgs_collection/dropD.svg');
        height: 20px;
        width: 20px;
    }  
}

@media (max-width: 300px){
    .image1{
        display: none;
    }
}


.backgroundImage{
    content:url('/assets/images/bannerimg.jpg');
    top: 0;
    position: static;
    padding-left: 15.2%;
    margin-top: -68px;
    
    
}