@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
    /* background-color: #141414; */
    user-select: none;
}

.container{
    width: 100vw;
    height: 100vh;
}

.navBar{
    width: 100vw;
    height: 68px;
    padding: 23px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    color: #E5E7E8;
    


}

.leftSection{
    display: flex;

}

.homeImage{
    width:92px;
    height:25px;
    cursor: pointer;
    
}

.homeImage img{
    width: 100%;
    height: 100%;
}

.menuSecton{
    margin-left: 25px;
    padding-left: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.menuSecton a{
    text-align: center;
    font-size: 14px;
    font-weight:lighter;
    line-height: 16.8px;
    text-align: center;
    cursor: pointer;
    
}
.rightSection{
    width: 220px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

/* .rightImgage search-icon{
    fill:#E5E7E8;
} */



